.exploremorediv {
    width: 80%;
    text-align: left;
    margin-left: 10%;
}

.exploremoreminidiv {
    width: 163px;
    text-align: center;
}

.exploremoreimg {
    height: 163px;
    width: 163px;
    border-radius: 200px;
}

.exploremegadiv {
    display: flex;
    flex-wrap: nowrap;
    gap: 45px;
}

.linktexp {
    color: black;
    text-decoration: none;
}

.explorebar {
    height: 32px;
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 2%;
    margin-left: 0%;
}

@media screen and (max-width:480px) {
    .exploremorediv {
        width: 95%;
        text-align: left;
        margin-left: 2.5%;
    }

    .exploremegadiv {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 1%;
    }

    .exploremoreminidiv {
        width: 48%;
        height: 48%;
        text-align: center;
    }
    .explorebar {
        height: 32px;
        width: 95%;
        background-color: #f2f2f2;
        margin-top: 5%;
        margin-left: 2.5%;
    }
}