.mainpagetopimg{
    width: 1519px;
    height: 240px;
}

.mianpagediv{
    width: 1216px;
    margin-left: 9%;
    text-align: left;
}

.maintitle{
    --fonts-heading: brandon-grotesque, "Helvetica Neue", Helvetica, arial, sans-serif;
    --fonts-base: Gotham, "Helvetica Neue", Helvetica, arial, sans-serif;
    --truncate-lines: 4;
    color: #2f2f2f;
    font-family: var(--fonts-heading);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.maindes{
    --fonts-heading: brandon-grotesque, "Helvetica Neue", Helvetica, arial, sans-serif;
    --fonts-base: Gotham, "Helvetica Neue", Helvetica, arial, sans-serif;
    color: #2f2f2f;
    font-family: var(--fonts-base);
    font-weight: 400;
    font-size: 16px;
}

/* .exploremorediv{
    width: 1216px;
    text-align: left;
    margin-left: 9%;
} */

/* .exploremoreminidiv{
    width: 163px;
    text-align: center;
} */

/* .exploremoreimg{
    height: 163px;
    width: 163px;
    border-radius: 200px;
} */

/* .exploremegadiv{
    display: flex;
    gap: 45px;
} */

.linktexp{
    color: black;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
/* .bannermaindiv{
    width: 1216px;
    margin-top: 2%;
    margin-left: 9%;
} */

.bannerimg{
    width: 100%;
    /* box-shadow: 5px -5px 50px ; */
}

.bannerminidiv{
    position: absolute;
    top: 140%;
    left: 15%;
    text-align: left;
}

/* .bannerdivh{
    color: white;
    box-sizing: inherit;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    display: block;
    font-size: 48px;
    line-height: 56px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.bannerbtn{
    margin-top: 2%;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2f2f2f;
    background-color: #f5ce35;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0px;
    padding: 16px 32px;
}

.bannerlink{
    font-size: 16px;   
    color: #2f2f2f;
    text-decoration: none;
}


